<!doctype html>
<html class="no-js" lang="">

<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">

  <title>OSN</title>

  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="apple-touch-icon" href="apple-touch-icon.png">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
    crossorigin="anonymous">
  <link rel="stylesheet" href="styles.css">
</head>

<body>
  <main role="main" id="app" class="main-container">
    <div class="search-container">
      <input class="search-input" @keyup.enter="getImages" v-model="query" />
      <button class="search-button" @click="getImages">Search</button>
    </div>
    <div class="image-container">
      <div :class="index % 2 === 0 ? 'smallgrid even' : 'smallgrid odd'" v-for="(image, index) in images" v-if="images.length">
        <div class="description">
          <div class="text-holder">
            <h3>Photographer:</h3>
            <h2>{{image.user.name}}</h2>
            <p>[Likes: {{image.likes}}]</p>
          </div>
        </div>
        <div class="photo">
          <img :src="image.urls.small">
        </div>
      </div>
    </div>

  </main>
  <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
    crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.5/lodash.core.min.js" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.min.js" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue@2.5.14/dist/vue.js" crossorigin="anonymous"></script>
  <script type="text/javascript" src="./client.js"></script>
</body>

</html>